@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family:'Roboto', sans-serif;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: LightGrey;
   color: black;
   text-align: center;
}

#section1	
  a {
    color: white;
    text-decoration:none;
    }
#section1
  a:hover {
    color: #f8f8f8;
    text-decoration: underline;
    }


table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #0a4f30;
  text-align: left;
  padding: 8px;
}

th:nth-child(even) {
  background-color: #0a4f30;
}

th:nth-child(odd) {
  background-color: #482067;
}

.countdown {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.countdown-timer {
  font-size: 24px;
  margin-bottom: 10px;
}

.countdown-label {
  font-size: 18px;
  color: #777;
  margin: 0 auto;
}

#admin-controls {
    border: 2px solid #482067; /* Add a border with 2px width and a dark color */
    padding: 15px; /* Add some padding to create space between the border and content */
}
